[home](https://nils-holmberg.github.io/sfac-py/web/210927/)

# python for research using the scipy stack (210927)
some line

## exercise 1
some line

In [1]:
import pandas as pd
import seaborn as sns

# df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [1]:
# df.to_csv("csv/iris.csv", sep="\t", header=True, index=False)

NameError: name 'df' is not defined